analise de dados/mydata.csv
analise de dados/mydata.sqlite
analise de dados/datasets/babynames/NationalReadMe.pdf
analise de dados/datasets/babynames/yob1880.txt
analise de dados/datasets/babynames/yob1881.txt
analise de dados/datasets/babynames/yob1882.txt
analise de dados/datasets/babynames/yob1883.txt
analise de dados/datasets/babynames/yob1884.txt
analise de dados/datasets/babynames/yob1885.txt
analise de dados/datasets/babynames/yob1886.txt
analise de dados/datasets/babynames/yob1887.txt
analise de dados/datasets/babynames/yob1888.txt
analise de dados/datasets/babynames/yob1889.txt
analise de dados/datasets/babynames/yob1890.txt
analise de dados/datasets/babynames/yob1891.txt
analise de dados/datasets/babynames/yob1892.txt
analise de dados/datasets/babynames/yob1893.txt
analise de dados/datasets/babynames/yob1894.txt
analise de dados/datasets/babynames/yob1895.txt
analise de dados/datasets/babynames/yob1896.txt
analise de dados/datasets/babynames/yob1897.txt
analise de dados/datasets/babynames/yob1898.txt
analise de dados/datasets/babynames/yob1899.txt
analise de dados/datasets/babynames/yob1900.txt
analise de dados/datasets/babynames/yob1901.txt
analise de dados/datasets/babynames/yob1902.txt
analise de dados/datasets/babynames/yob1903.txt
analise de dados/datasets/babynames/yob1904.txt
analise de dados/datasets/babynames/yob1905.txt
analise de dados/datasets/babynames/yob1906.txt
analise de dados/datasets/babynames/yob1907.txt
analise de dados/datasets/babynames/yob1908.txt
analise de dados/datasets/babynames/yob1909.txt
analise de dados/datasets/babynames/yob1910.txt
analise de dados/datasets/babynames/yob1911.txt
analise de dados/datasets/babynames/yob1912.txt
analise de dados/datasets/babynames/yob1913.txt
analise de dados/datasets/babynames/yob1914.txt
analise de dados/datasets/babynames/yob1915.txt
analise de dados/datasets/babynames/yob1916.txt
analise de dados/datasets/babynames/yob1917.txt
analise de dados/datasets/babynames/yob1918.txt
analise de dados/datasets/babynames/yob1919.txt
analise de dados/datasets/babynames/yob1920.txt
analise de dados/datasets/babynames/yob1921.txt
analise de dados/datasets/babynames/yob1922.txt
analise de dados/datasets/babynames/yob1923.txt
analise de dados/datasets/babynames/yob1924.txt
analise de dados/datasets/babynames/yob1925.txt
analise de dados/datasets/babynames/yob1926.txt
analise de dados/datasets/babynames/yob1927.txt
analise de dados/datasets/babynames/yob1928.txt
analise de dados/datasets/babynames/yob1929.txt
analise de dados/datasets/babynames/yob1930.txt
analise de dados/datasets/babynames/yob1931.txt
analise de dados/datasets/babynames/yob1932.txt
analise de dados/datasets/babynames/yob1933.txt
analise de dados/datasets/babynames/yob1934.txt
analise de dados/datasets/babynames/yob1935.txt
analise de dados/datasets/babynames/yob1936.txt
analise de dados/datasets/babynames/yob1937.txt
analise de dados/datasets/babynames/yob1938.txt
analise de dados/datasets/babynames/yob1939.txt
analise de dados/datasets/babynames/yob1940.txt
analise de dados/datasets/babynames/yob1941.txt
analise de dados/datasets/babynames/yob1942.txt
analise de dados/datasets/babynames/yob1943.txt
analise de dados/datasets/babynames/yob1944.txt
analise de dados/datasets/babynames/yob1945.txt
analise de dados/datasets/babynames/yob1946.txt
analise de dados/datasets/babynames/yob1947.txt
analise de dados/datasets/babynames/yob1948.txt
analise de dados/datasets/babynames/yob1949.txt
analise de dados/datasets/babynames/yob1950.txt
analise de dados/datasets/babynames/yob1951.txt
analise de dados/datasets/babynames/yob1952.txt
analise de dados/datasets/babynames/yob1953.txt
analise de dados/datasets/babynames/yob1954.txt
analise de dados/datasets/babynames/yob1955.txt
analise de dados/datasets/babynames/yob1956.txt
analise de dados/datasets/babynames/yob1957.txt
analise de dados/datasets/babynames/yob1958.txt
analise de dados/datasets/babynames/yob1959.txt
analise de dados/datasets/babynames/yob1960.txt
analise de dados/datasets/babynames/yob1961.txt
analise de dados/datasets/babynames/yob1962.txt
analise de dados/datasets/babynames/yob1963.txt
analise de dados/datasets/babynames/yob1964.txt
analise de dados/datasets/babynames/yob1965.txt
analise de dados/datasets/babynames/yob1966.txt
analise de dados/datasets/babynames/yob1967.txt
analise de dados/datasets/babynames/yob1968.txt
analise de dados/datasets/babynames/yob1969.txt
analise de dados/datasets/babynames/yob1970.txt
analise de dados/datasets/babynames/yob1971.txt
analise de dados/datasets/babynames/yob1972.txt
analise de dados/datasets/babynames/yob1973.txt
analise de dados/datasets/babynames/yob1974.txt
analise de dados/datasets/babynames/yob1975.txt
analise de dados/datasets/babynames/yob1976.txt
analise de dados/datasets/babynames/yob1977.txt
analise de dados/datasets/babynames/yob1978.txt
analise de dados/datasets/babynames/yob1979.txt
analise de dados/datasets/babynames/yob1980.txt
analise de dados/datasets/babynames/yob1981.txt
analise de dados/datasets/babynames/yob1982.txt
analise de dados/datasets/babynames/yob1983.txt
analise de dados/datasets/babynames/yob1984.txt
analise de dados/datasets/babynames/yob1985.txt
analise de dados/datasets/babynames/yob1986.txt
analise de dados/datasets/babynames/yob1987.txt
analise de dados/datasets/babynames/yob1988.txt
analise de dados/datasets/babynames/yob1989.txt
analise de dados/datasets/babynames/yob1990.txt
analise de dados/datasets/babynames/yob1991.txt
analise de dados/datasets/babynames/yob1992.txt
analise de dados/datasets/babynames/yob1993.txt
analise de dados/datasets/babynames/yob1994.txt
analise de dados/datasets/babynames/yob1995.txt
analise de dados/datasets/babynames/yob1996.txt
analise de dados/datasets/babynames/yob1997.txt
analise de dados/datasets/babynames/yob1998.txt
analise de dados/datasets/babynames/yob1999.txt
analise de dados/datasets/babynames/yob2000.txt
analise de dados/datasets/babynames/yob2001.txt
analise de dados/datasets/babynames/yob2002.txt
analise de dados/datasets/babynames/yob2003.txt
analise de dados/datasets/babynames/yob2004.txt
analise de dados/datasets/babynames/yob2005.txt
analise de dados/datasets/babynames/yob2006.txt
analise de dados/datasets/babynames/yob2007.txt
analise de dados/datasets/babynames/yob2008.txt
analise de dados/datasets/babynames/yob2009.txt
analise de dados/datasets/babynames/yob2010.txt
analise de dados/datasets/bitly_usagov/example.txt
analise de dados/datasets/fec/P00000001-ALL.csv
analise de dados/datasets/haiti/Haiti.csv
analise de dados/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads_README.txt
analise de dados/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads_sample.jpg
analise de dados/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.dbf
analise de dados/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.prj
analise de dados/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.sbn
analise de dados/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.sbx
analise de dados/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.shp
analise de dados/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.shx
analise de dados/datasets/movielens/movies.dat
analise de dados/datasets/movielens/ratings.dat
analise de dados/datasets/movielens/README
analise de dados/datasets/movielens/users.dat
analise de dados/datasets/mta_perf/parse.py
analise de dados/datasets/mta_perf/Performance_LIBUS.xml
analise de dados/datasets/mta_perf/Performance_LIBUS.xsd
analise de dados/datasets/mta_perf/Performance_LIRR.xml
analise de dados/datasets/mta_perf/Performance_LIRR.xsd
analise de dados/datasets/mta_perf/Performance_MNR.xml
analise de dados/datasets/mta_perf/Performance_MNR.xsd
analise de dados/datasets/mta_perf/Performance_MTABUS.xml
analise de dados/datasets/mta_perf/Performance_MTABUS.xsd
analise de dados/datasets/mta_perf/Performance_NYCT.xml
analise de dados/datasets/mta_perf/Performance_NYCT.xsd
analise de dados/datasets/mta_perf/Performance_TBTA.xml
analise de dados/datasets/mta_perf/Performance_TBTA.xsd
analise de dados/datasets/titanic/genderclassmodel.csv
analise de dados/datasets/titanic/gendermodel.csv
analise de dados/datasets/titanic/test.csv
analise de dados/datasets/titanic/train.csv
analise de dados/datasets/usda_food/database.json
analise de dados/examples/array_ex.txt
analise de dados/examples/csv_mindex.csv
analise de dados/examples/ex1.csv
analise de dados/examples/ex1.xlsx
analise de dados/examples/ex2.csv
analise de dados/examples/ex2.xlsx
analise de dados/examples/ex3.csv
analise de dados/examples/ex3.txt
analise de dados/examples/ex4.csv
analise de dados/examples/ex5.csv
analise de dados/examples/ex6.csv
analise de dados/examples/ex7.csv
analise de dados/examples/example.json
analise de dados/examples/fdic_failed_bank_list.html
analise de dados/examples/frame_pickle
analise de dados/examples/ipython_bug.py
analise de dados/examples/macrodata.csv
analise de dados/examples/out.csv
analise de dados/examples/segismundo.txt
analise de dados/examples/spx.csv
analise de dados/examples/stinkbug.png
analise de dados/examples/stock_px_2.csv
analise de dados/examples/stock_px.csv
analise de dados/examples/test_file.csv
analise de dados/examples/tips.csv
analise de dados/examples/tseries.csv
analise de dados/examples/volume.csv
analise de dados/examples/yahoo_price.pkl
analise de dados/examples/yahoo_volume.pkl
